doctype
html
  head
    include pug-chunks/head
  body
    include pug-chunks/header
    .wrapper
      .row
        include pug-chunks/menuopener
        include pug-chunks/main
    include pug-chunks/fotter        
  include pug-chunks/script      

