.footer
  .footer__contacts
    .wrapper.clearfix.t-align-left
      span Подключайся и играй на наших серверах!
      .contacts.pull-right-laptop
        .contacts_title
          |Админ
        .contacts_phones.m-b-10
          a(href="tel:+380683332210") +38(068) 333-22-10
          br
          a(href="tel:+38099755050") +38(099) 750-50-50
        br
        .contacts_title
          |По донату:
        .contacts_phones.m-b-10
          a(href="tel:+380673322180") +38(067)-332-21-80
  .footer__ads
    .wrapper
      ul.flex-container
        li
          a(href="#")
            img(src="img/ad-optifine.png", alt="")
        li
          a(href="#")
          img(src="img/ad-mc-force.png", alt="")
        li
          a(href="#")
            img(src="img/ad-indastrial-craft2.png", alt="")
        li
          a(href="#")
            img(src="img/ad-railcraft.png", alt="", style="display: block !important;")
  .wrapper
    .footer__text (c) Poshtar Boba, 2016
