.person-rating
	.person-rating__name 
		p Name: #{person_rating_name}
	.person-rating__rate
		p Rate: #{person_rating_rate}
	.person-rating__id 
		p ID: #{person_rating_id}
	.person-rating__info 
		p Information: #{person_rating_info}