ul.sidebar
  each item in sidebarMenu
    li
      a(href="#")=item.menutitle
      -if(item.subMenuTitle)
        ul.submenu
          each subitem in item.subMenuTitle  
            li
              a(href="#")=subitem