ul.sidebar
  -
    var sidebarMenu =[
    {
      menutitle: 'Мир Minecraft',
      subMenuTitle :['Мобы','Структуры','Биомы','Миры']
    },
    {
      menutitle: 'Industrial craft',
      subMenuTitle :['Мобы','Структуры','Биомы','Миры']
    },
    {
      menutitle: 'OptiFine',
      subMenuTitle :['Мобы','Структуры','Биомы','Миры']
    },
    {
      menutitle: 'Forge',
      subMenuTitle :['Мобы','Структуры','Биомы','Миры']
    },
    {
      menutitle: 'TooManyItems',
      subMenuTitle :['Мобы','Структуры','Биомы','Миры']
    },
    {
      menutitle: 'RailCraft',
      subMenuTitle :[]
    }
    ]
  each item in sidebarMenu
    li
      a(href="#")=item.menutitle
      -if(item.subMenuTitle)
        ul.submenu
          each subitem in item.subMenuTitle  
            li
              a(href="#")=subitem