- 
  var sidebarMenu =[
  {
    menutitle: 'Мир Minecraft',
    subMenuTitle :['Мобы','Структуры','Биомы','Миры']
  },
  {
    menutitle: 'Industrial craft',
    subMenuTitle :['Мобы','Структуры','Биомы','Миры']
  },
  {
    menutitle: 'OptiFine',
    subMenuTitle :['Мобы','Структуры','Биомы','Миры']
  },
  {
    menutitle: 'Forge',
    subMenuTitle :['Мобы','Структуры','Биомы','Миры']
  },
  {
    menutitle: 'TooManyItems',
    subMenuTitle :['Мобы','Структуры','Биомы','Миры']
  },
  {
    menutitle: 'RailCraft',
    subMenuTitle :[]
  }
  ]
  var newsInfo =[
    {
      newsDate:'2016-08-04',
      newsText:'Страж подводной крепости довольно сильный противник для начинащего игрока'
    },
    {
      newsDate:'2016-06-27',
      newsText:'Встречайте: белые медведи в холодных биомах!'
    },
    {
      newsDate:'2016-04-17',
      newsText:'В мобильной версии теперь можно приручить кролика, он станет верным другом'
    }
  ]      
  var headerMenu =[
    'Главная',
    'Об игре',
    'Список серверов',
    'Наша команда',
    'Донат'
  ]